{% extends 'base.html' %}
{% block body %}
   <!-- End Main Header -->

   <!-- Page Banner Section -->
   <section class="page-banner">
  
   <div class="image-layer
      "></div>
  <div class="auto-container">
       <h1>BLOGS</h1>
     </div>

     <div class="breadcrumb-box">
       <div class="auto-container">
         <ul class="bread-crumb clearfix">
           <li><a href="{% url 'jobs:index' %}">HOME</a></li>
           <li><a href="{% url 'blogs:stories_and_blogs' %}">STORIES & BLOGS</a></li>
           <li class="active">BLOGS</li>
         </ul>
       </div>
     </div>
   </section>
   <!--End Banner Section -->
   <div class="blog-section  ">
    <div class="auto-container">
        <div class="row clearfix " style="padding-top: 50px;">
          {% for i in data %}
            <!--Content Side / Blog Detail-->
            <div class="content-side col-lg-4 col-md-6 col-sm-12">
                <div class="blog-posts">
                    <!--News Block Two-->
                    <div class="blog-block-two">
                        <div class="inner-box">
                          <div class="image-box">
                            <figure class="image"><a href="">  <img src="{{i.blogs_image}}"  width="350px" height="330px"alt=""></a></figure>
                            
                        </div>
                            
                          
                            <div class="lower-box">
                              <div class="text"> {{i.blogs_desc}}</div>
                              <div class="bottom-box clearfix">
                                    <div class="post-meta">
                                        <div class="info-box clearfix">
                                            <div class="cause-info">
                                                <ul class="clearfix">
                                                  <li><span class="far fa-clock"></span> {{i.blogs_date}}</li>
                                                  <li><span class="fa fa-map-marker-alt"></span> {{i.blogs_location}}</li>
                                               </ul>
                                            </div>
                                           
                                                
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                  
                 
            </div>
            <!--End Content Side-->

         
        </div>
        {% endfor %}
    </div>
</div>


{% endblock body %}


