{% extends 'base.html' %}
{% block body %}
   <!-- End Main Header -->

   <!-- Page Banner Section -->
   <section class="page-banner">
  
   <div class="image-layer
      "></div>
  

     <div class="auto-container">
       <h1>BLOGS</h1>
     </div>

     <div class="breadcrumb-box">
       <div class="auto-container">
         <ul class="bread-crumb clearfix">
           <li><a href="{% url 'jobs:index' %}">HOME</a></li>
           <li><a href="{% url 'blogs:stories_and_blogs' %}">STORIES & BLOGS</a></li>
           <li class="active">BLOGS</li>
         </ul>
       </div>
     </div>
   </section>
   <!--End Banner Section -->
   <div class="blog-section  ">
     <div class="auto-container">
         <div class="row clearfix " style="padding-top: 50px;">
   
             <!--Content Side / Blog Detail-->
             {% for i in data %}
             <div class="content-side col-lg-4 col-md-6 col-sm-12">
                 <div class="blog-posts">
                
   
                     <!--blog Block Two-->
                     <div class="blog-block-two">
                         <div class="inner-box">
                             <div class="image-box">
                                 <div class="kausid-carousel owl-theme owl-carousel" data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" }, "1024":{ "items" : "1" }}}'>
                                   {% for j in data %}
                                   <figure class="image">
                                       <img src="{{j.blogs_image}}" style="height:360px; width:280px;" alt="">
                                     </figure>
                                     {% endfor %}
                                 </div>
                                 
                             </div>
                             <div class="lower-box">
                                 <div class="text"> {{i.blogs_desc}}</div>
                                 <div class="bottom-box clearfix">
                                     <div class="post-meta">
                                         <div class="info-box clearfix">
                                             <div class="cause-info">
                                                 <ul class="clearfix">
                                                     <li><span class="far fa-clock"></span> {{i.blogs_date}}</li>
                                                     <li><span class="fa fa-map-marker-alt"></span> {{i.blogs_location}}</li>
                                                 </ul>
                                             </div>
                                            
                                                 
                                         </div>
                                     </div>
                                     
                                 </div>
                             </div>
                         </div>
                     </div>
   
                   
                  
             </div>
             <!--End Content Side-->
             {% endfor %}
          
         </div>
     </div>
   </div>

{% endblock body %}


