{% extends 'base.html' %}
{% block body %}
 
   <!-- Page Banner Section -->
   <section class="page-banner">
     <div
       class="image-layer"
       style="background-image: url(images/background/bg-page-title-2.jpg)"
     ></div>

     <div class="auto-container">
       <h1 style="font-size:35px"> {{ stories_details_name }} </h1>
     </div>

     <div class="breadcrumb-box">
       <div class="auto-container">
          <ul class="bread-crumb clearfix">
           <li><a href="{% url 'jobs:index' %}">HOME</a></li>
           <li><a href="{% url 'blogs:stories_and_blogs' %}">STORIES & BLOGS</a></li>
           <li class="active">STORIES</li>
         </ul>
       </div>
     </div>
   </section>
   <!--End Banner Section -->
 <!--Causes Section-->
 <section class="story-section alternate-two" style="padding-bottom:40px">
   
     <div class="auto-container">
      <div class="post-content">
                                   <div class="lower-box story-details">
                             <h2 style="font-size:20px;padding-top:60px">{{ stories_details_name }}</h2>
                             <div class="info-box clearfix">
                                 <div class="cause-info">
                                     <ul class="clearfix">
                                         <li><span class="far fa-clock"></span> {{ stories_details_date }}  </li>
                                         <li><span class="fa fa-map-marker-alt"></span> {{stories_details_location}}</li>
                                     </ul>
                                 </div>
                                
                                     
                             </div>
                           
                         </div>
                              
            
                                 <p> {{ stories_details_desc1 }}
                                 </p>
                                 <p>{{ stories_details_desc2 }}</p>
                                 <p>{{ stories_details_desc3 }}</p>
                                 <div class="row clearfix">
                                    
                                 </div>
                                 <p class="big-text">{{ stories_details_desc4 }}</p>
                                
                                  </div>
                     
         <div class="row clearfix">
         
             <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                 <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                     <div class="image-box">
                         <figure class="image"><img src="{{ stories_details_image1.url }}" alt=""></figure>
                         
                     </div>
                    
                 </div>
             </div>
                <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                 <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                     <div class="image-box">
                         <figure class="image"><img src="{{ stories_details_image2.url }}" alt=""></figure>
                         
                     </div>
                    
                 </div>
             </div>
                <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                 <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                     <div class="image-box">
                         <figure class="image"><img src="{{ stories_details_image3.url }}" alt=""></figure>
                         
                     </div>
                    
                 </div>
             </div>
             
             
         </div>
         <p>{{ stories_details_desc5 }}</p>
         <p>{{ stories_details_desc6 }}</p>
                                 
<div class="news-block-three">
                         <div class="inner-box">
                             <div class="text">{{ stories_details_desc7 }}</div>
                         </div>
                     </div>
     
     </div>
 </section>



 <!-- Insta Gallery Section -->
 <section class="insta-gallery">
     <div class="insta-gallery-carousel kausid-carousel owl-theme owl-carousel" data-options='{"loop": false, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 5000, "smartSpeed": 500, "responsive":{ "0" :{ "items": "1" },"600" :{ "items": "2" }, "768" :{ "items" : "3" }, "1024":{ "items" : "4" }, "1366":{ "items" : "4" }, "1500":{ "items" : "5" }, "1920":{ "items" : "6" }}}'>
         <!-- Gallery Item -->
         <div class="gallery-item-two">
             <div class="image-box">
                 <figure class="image">
                   {% for i in data %}
                   <img src="{{i.image_stories_detail_one}}" 
                   data-src="{{i.image_stories_detail_one}}"
                   style="height:350px; width:320px;" alt="">
                 </figure>
                 <div class="overlay-box"><a href="{{i.image_stories_detail_one}}" class="lightbox-image" data-fancybox="gallery-two"><span class="icon flaticon-instagram"></span></a></div>
             </div>
         </div>
         <!-- Gallery Item -->
         <div class="gallery-item-two">
             <div class="image-box">
                 <figure class="image">                  
                   <img src="{{i.image_stories_detail_two}}" 
                   data-src="{{i.image_stories_detail_two}}"
                   style="height:350px; width:320px;" alt="">                   
                 </figure>
                 <div class="overlay-box"><a href="{{i.image_stories_detail_two}}" class="lightbox-image" data-fancybox="gallery-two"><span class="icon flaticon-instagram"></span></a></div>
             </div>
         </div>
         <!-- Gallery Item -->
         <div class="gallery-item-two">
             <div class="image-box">
                 <figure class="image">                    
                   <img src="{{i.image_stories_detail_three}}" 
                   data-src="{{i.image_stories_detail_three}}"
                   style="height:350px; width:320px;" alt="">                   
                 </figure>
                 <div class="overlay-box"><a href="{{i.image_stories_detail_three}}" class="lightbox-image" data-fancybox="gallery-two"><span class="icon flaticon-instagram"></span></a></div>
             </div>
         </div>
         <!-- Gallery Item -->
         <div class="gallery-item-two">
             <div class="image-box">
                 <figure class="image">                    
                   <img src="{{i.image_stories_detail_four}}" 
                   data-src="{{i.image_stories_detail_four}}"
                   style="height:350px; width:320px;" alt="">                   
                 </figure>
                 <div class="overlay-box"><a href="{{i.image_stories_detail_four}}" class="lightbox-image" data-fancybox="gallery-two"><span class="icon flaticon-instagram"></span></a></div>
             </div>
         </div>
         <!-- Gallery Item -->
         <div class="gallery-item-two">
             <div class="image-box">
                 <figure class="image">      
                   <img src="{{i.image_stories_detail_five}}" 
                   data-src="{{i.image_stories_detail_five}}"
                   style="height:350px; width:320px;" alt="">
                 </figure>
                 <div class="overlay-box"><a href="{{i.image_stories_detail_five}}" class="lightbox-image" data-fancybox="gallery-two"><span class="icon flaticon-instagram"></span></a></div>
             </div>
         </div>
         <!-- Gallery Item -->
         <div class="gallery-item-two">
             <div class="image-box">
                 <figure class="image">
                   <img src="{{i.image_stories_detail_sex}}" 
                   data-src="{{i.image_stories_detail_sex}}"
                   style="height:350px; width:320px;" alt="">
                 </figure>
                 <div class="overlay-box"><a href="{{i.image_stories_detail_sex}}" class="lightbox-image" data-fancybox="gallery-two">
                 {% endfor %}
                 <span class="icon flaticon-instagram"></span></a></div>
             </div>
         </div>
         
     </div>
 </section>
 <!--End Gallery Section -->

{% endblock body %}