{% extends 'base.html' %}
{% block body %}
 
   <!-- Page Banner Section -->
   <section class="page-banner">
     <div
       class="image-layer"
       style="background-image: url(images/background/bg-page-title-2.jpg)"
     ></div>

     <div class="auto-container">
       <h1 style="font-size:35px"> {{ story.story_name }} </h1>
     </div>

     <div class="breadcrumb-box">
       <div class="auto-container">
          <ul class="bread-crumb clearfix">
           <li><a href="{% url 'jobs:index' %}">HOME</a></li>
           <li><a href="{% url 'blogs:stories_and_blogs' %}">STORIES & BLOGS</a></li>
           <li class="active">STORIES</li>
         </ul>
       </div>
     </div>
   </section>
   <!--End Banner Section -->
 <!--Causes Section-->
 <section class="story-section alternate-two" style="padding-bottom:40px">
   
     <div class="auto-container">
      <div class="post-content">
                                   <div class="lower-box story-details">
                             <h2 style="font-size:20px;padding-top:60px">{{  story.story_name  }}</h2>
                             <div class="info-box clearfix">
                                 <div class="cause-info">
                                     <ul class="clearfix">
                                         <li><span class="far fa-clock"></span> {{ story.story_date|date:'d M o' }}  </li>
                                         <li><span class="fa fa-map-marker-alt"></span> {{story.story_location}}</li>
                                     </ul>
                                 </div>
                                
                                     
                             </div>
                           
                         </div>
                              
            
                                 <p> {{ story.story_desc1 }}
                                 </p>
                                 <p>{{ story.story_desc2 }}</p>
                                 <p>{{ story.story_desc3 }}</p>
                                 <div class="row clearfix">
                                    
                                 </div>
                                 <p class="big-text">{{ story.story_desc4 }}</p>
                                
                                  </div>
                     
         <div class="row clearfix">
         
             <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                 <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                     <div class="image-box">
                         <figure class="image"><img src="{{ story.story_image_one.url }}" alt=""></figure>
                         
                     </div>
                    
                 </div>
             </div>
                <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                 <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                     <div class="image-box">
                         <figure class="image"><img src="{{ story.story_image_two.url }}" alt=""></figure>
                         
                     </div>
                    
                 </div>
             </div>
                <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                 <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                     <div class="image-box">
                         <figure class="image"><img src="{{ story.story_image_three.url }}" alt=""></figure>
                         
                     </div>
                    
                 </div>
             </div>
             
             
         </div>
         <p>{{ story.story_desc5 }}</p>
         <p>{{ story.story_desc6 }}</p>
                                 
<div class="news-block-three">
                         <div class="inner-box">
                             <div class="text">{{ story.story_desc7 }}</div>
                         </div>
                     </div>
     
     </div>
 </section>


{% endblock body %}