{% extends 'base.html' %}
{% block body %}
   <!-- End Main Header -->

    <!-- Page Banner Section -->
    <section class="page-banner">
      {% for i in data %}
      <div class="image-layer" style="background-image: url('{{i.image_bg_about}}');
          width:1920px;
          height:350px;"></div>
      {% endfor %}

      <div class="auto-container">
        <h1>ABOUT AIFRD</h1>
      </div>

      <div class="breadcrumb-box">
        <div class="auto-container">
          <ul class="bread-crumb clearfix">
            <li><a href="{% url 'jobs:index' %}">HOME</a></li>

            <li class="active">ABOUT AIFRD</li>
          </ul>
        </div>
      </div>
    </section>
    <!--End Banner Section -->

    <!--About Section-->
    <section class="about-section-three">
      <div class="auto-container">
        <div class="row clearfix">
          <!--Text Column-->
          <div class="text-column col-lg-7 col-md-12 col-sm-12">
            <div class="inner">
              <div class="sec-title">
                <div class="sub-title">
                 
                </div>
                <h2>Warmth & True Support <br />For Needed People</h2>
                <div class="lower-title">
                  We make ways to good things happen
                </div>
              </div>
              <div class="lower-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                do eiusmod tempor incids dunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam quis nostrud exercital tion
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore euy fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident sunt in culpa.
              </div>
            </div>
          </div>
          <!--Image Column-->
          <div class="image-column col-lg-5 col-md-12 col-sm-12">
            <figure class="image wow slideInRight" data-wow-delay="0ms">
              {% for i in data %}
              <img src="{{i.image_middle_about}}" alt="" />
              {% endfor %}
            </figure>
          </div>
        </div>


        <!--Featured Blocks-->
        <div class="featured-blocks">
          <div class="row clearfix">
            <!--Featured Block-->
            <div class="featured-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="inner">
                  <div class="icon"><span class="flaticon-care"></span></div>
                  <h3>OUR VISION</h3>
                  <div class="text">
                    Auis nostrud exercitation ullam labor offica aliquip exsed
                    consequat duis autpsum natus dolore magna aliqua minim
                    ipsum.
                  </div>
                  <div class="link-box">
                    <a href="#" class="more-link"
                      >Read More
                      <span
                        style="padding-top: 10px; padding-right: 10px"
                        class="fa fa-arrow-right"
                      ></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!--Featured Block-->
            <div class="featured-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="inner">
                  <div class="icon">
                    <span class="flaticon-pigeon"></span>
                  </div>
                  <h3>OUR MISSION</h3>
                  <div class="text">
                    Auis nostrud exercitation ullam labor offica aliquip exsed
                    consequat duis autpsum natus dolore magna aliqua minim
                    ipsum.
                  </div>
                  <div class="link-box">
                    <a href="#" class="more-link"
                      >Read More
                      <span
                        style="padding-top: 10px; padding-right: 10px"
                        class="fa fa-arrow-right"
                      ></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!--Featured Block-->
            <div class="featured-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <div class="inner">
                  <div class="icon">
                    <span class="flaticon-harvest"></span>
                  </div>
                  <h3>OUR VALUE</h3>
                  <div class="text">
                    Auis nostrud exercitation ullam labor offica aliquip exsed
                    consequat duis autpsum natus dolore magna aliqua minim
                    ipsum.
                  </div>
                  <div class="link-box">
                    <a href="#" class="more-link"
                      >Read More
                      <span
                        style="padding-top: 10px; padding-right: 10px"
                        class="fa fa-arrow-right"
                      ></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock body %}