{% extends 'base.html' %}
{% block body %}
 
   <!-- Page Banner Section -->
   <section class="page-banner">
    <div
      class="image-layer"
      style="background-image: url(images/background/bg-page-title-2.jpg)"
    ></div>

    <div class="auto-container">
      <h1>CONTACT US</h1>
    </div>

    <div class="breadcrumb-box">
      <div class="auto-container">
        <ul class="bread-crumb clearfix">
          <li><a href="{% url 'jobs:index' %}">HOME</a></li>
        
          <li class="active">Get In Touch</li>
        </ul>
      </div>
    </div>
  </section>
  <!--End Banner Section -->
<section class="contact-section contact-page " style="padding-left:20px;padding-right:20px">
    <div class="auto-container">
        <div class="row clearfix justify-content-md-center">
                   
            <!--Form Column-->
            <div class="form-column">
                <div class="default-form donate-form">
                  <form action="{% url 'jobs:applicantsList' %}" method="GET" enctype="multipart/form-data">
                    <h3 style="padding-bottom: 40px">JOIN US AS VOLUNTEERS</h3>
                    <div class="row clearfix">
                      <div class="form-group col-md-6 col-sm-12">
                        <div class="field-label">Fullname</div>
                        <input type="text" name="full_name" value="" placeholder="" required />
                      </div>
                      <div class="form-group col-md-6 col-sm-12">
                        <div class="field-label">Gender</div>
                        <select class="custom-select-box" name="gender">
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6 col-sm-12">
                        <div class="field-label">Email</div>
                        <input type="email" name="email" value="" placeholder="" required />
                      </div>
  
                      <div class="form-group col-md-6 col-sm-12">
                        <div class="field-label">Phone</div>
                        <input type="number" name="phone" value="" placeholder="" />
                      </div>
  
                      <div class="form-group col-md-6 col-sm-12">
                        <div class="field-label">Region</div>
                        <select class="custom-select-box" name="region">
                          <option>Baghdad</option>
                          <option>Mousl</option>
                          <option>Erbil</option>
                          <option>Anbar</option>
                          <option>Babylon</option>
                          <option>Basra</option>
                          <option>Dhi Qar</option>
                          <option>Diyala</option>
                          <option>Dohuk</option>
                          <option>Karbala</option>
                          <option>KirKuk</option>
                          <option>Maysan</option>
                          <option>Najaf</option>
                          <option>Qaisiyah</option>
                          <option>Salahaddin</option>
                          <option>Sulaymaniyah</option>
                          <option>Wasit</option>
                        </select>
                      </div>
  
                      <div class="form-group col-md-6 col-sm-12">
                        <div class="field-label">Address</div>
                        <input type="text" name="address" value="" placeholder="" required />
                      </div>
                      <div class="form-group form-group col-md-6 col-sm-12">
                        <div class="field-label">Upload your CV:</div>
                        <input type="file" name="upload_cv" style="color: blue" />
                      </div>
                      <div class="form-group form-group col-md-6 col-sm-12">
                        <div class="field-label">LanguageSelect Language</div>
                        <table>
                          <tr>
                            <td style="
                                  margin-left: 50px;
                                  padding-right: 40px;
                                  padding-top: 25px;
                                ">
                              <label class="
                                    mdl-checkbox
                                    mdl-js-checkbox
                                    mdl-js-ripple-effect
                                  " for="checkbox1">
                                <input type="checkbox" id="checkbox1" class="mdl-checkbox__input" name="english" />
                                <span class="mdl-checkbox__label">English</span>
                              </label>
                            </td>
  
                            <td style="
                                  margin-left: 50px;
                                  padding-right: 40px;
                                  padding-top: 25px;
                                ">
                              <label class="
                                    mdl-checkbox
                                    mdl-js-checkbox
                                    mdl-js-ripple-effect
                                  " for="checkbox2">
                                <input type="checkbox" id="checkbox2" class="mdl-checkbox__input" name="arabic" />
                                <span class="mdl-checkbox__label">Arabic</span>
                              </label>
                            </td>
  
                            <td style="
                                  margin-left: 50px;
                                  padding-right: 40px;
                                  padding-top: 25px;
                                ">
                              <label class="
                                    mdl-checkbox
                                    mdl-js-checkbox
                                    mdl-js-ripple-effect
                                  " for="checkbox3">
                                <input type="checkbox" id="checkbox3" class="mdl-checkbox__input" name="kurdish" />
                                <span class="mdl-checkbox__label">Kurdish</span>
                              </label>
                            </td>
                          </tr>
                        </table>
                      </div>
  
                      <div class="form-group form-group col-md-12 col-sm-12">
                        <div class="field-label">Cover Letter</div>
                        <textarea name="cover_letter" placeholder=""></textarea>
                      </div>
                    </div>
                    <div class="btn-box" style="padding-top: 30px">
                      <button type="submit" class="theme-btn btn-style-one">
                        <span class="btn-title">Submit</span>
                      </button>
                    </div>
                  </form>
              </div>
            </div>
            
            
        </div>
           <div class="info-container">
            <div class="row clearfix" >
                <!--Info Block-->
                <div class="info-block pdrun bg-blue col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner" >
                        <h3 >Keep touch with us</h3>
                        <ul class="info">
                            <li><span class="fa fa-map-marker-alt"></span> Mousl/iraq</li>
                            <li><span class="fa fa-phone-alt"></span> <a href="tel:+964 773 1476 198">Phone +964 773 1476 198</a></li>
                            <li><span class="fa fa-envelope-open"></span> <a href="mailto:representative@aifrd.org">representative@aifrd.org</a></li>
                        </ul> <ul class="social-links clearfix">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        </ul >
                    </div>
                </div>
                <!--Info Block-->
                <div class="info-block bg-light-blue col-xl-8 col-lg-6 col-md-6 col-sm-12">
                    <div class='map'>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1682664.1207402688!2d44.824240844037234!3d34.54207494467369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15514647b09efe7d%3A0xfc19eaaaaed2b077!2z2LXZhNin2K0g2KfZhNiv2YrZhiDZhdit2KfZgdi42Kk!5e0!3m2!1sar!2siq!4v1606240920800!5m2!1sar!2siq" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>
                </div>
                
            </div>
        </div>
    </div>
</section>

{% endblock body %}