{% extends 'base.html' %}
{% block body %}
    <!-- Banner Section -->
    <section class="banner-section">
      <div
        class="banner-carousel kausid-carousel owl-theme owl-carousel"
        data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "1" } , "1000":{ "items" : "1" }}}'
      >
      {% for i in data %}
        <!-- Slide Item -->
        <div class="slide-item">
          <div
            class="image-layer"
            style="background-image: url('{{i.slide_image_index}}')"
          ></div>

          <div class="auto-container">
            <div class="content-box">
              <div class="content">
                <div class="inner">
                  <div class="sub-title">{{i.slide_subtitle_index}}</div>
                  <h2>{{i.slide_title_index}}</h2>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- Slide Item -->
       
      </div>
    </section>
    <!--End Banner Section -->
<!--About Section Four-->
  <section class="about-section-four">
      
      <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
              <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title">
                        <div class="sub-title"><h3 style="font-size:16px"> Since 2015<h3></div>
                          <h2 style="font-size:36px">Ashor Iraqi Foundation for Relief and Development</h2>
                      </div>
                      <div class="text">Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpaq officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</div>
                      <div class="link-box"><a href="#" class="default-link"> READ MORE</a></div>
                      
                  </div>
              </div>
                <!--Image Column-->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner">
              <div class="image-box">
                <figure class="image">
                 
                  <img src="images/resource/event-image-7.jpg" style="height:358px; width:518px;" alt="">
                
                </figure>
                          <div class="caption-box wow fadeInUp" data-wow-delay="0ms">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
  </section>

<section class="what-we-do causes-section alternate-two news-section">
      

     
      <div class="auto-container">
       <div class="" style="padding-top:60px;padding-bottom:20px;text-align:center">
              <h2 >What We Are Doing</h2>
          </div>
            <p style="text-align:center;padding-top:20px;padding-bottom:50px;"> The United Nations is the only voice that speaks for everyone on earth and the only place where all nations come together. Our challenges are so intertwined that we can only solve them together, with smart responses across countries, cultures and peoples. As our world grows more connected and threats more complex, the success of the UN is even more essential. That’s why the United Nations Foundation exists.</p>


          <div class="row clearfix">
              <!--Service Block-->
              <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms">
                  <div class="inner-box">
                      <div class="icon"><span class="flaticon-therapy"></span></div>
                      <h3><a href="#">Power Eco System</a></h3>
                      <div class="text">Auis nostrud exercitation ullam laboris aliquip exsed consequat duis aut psum dolore magna aliqua minim.</div>
                      <div class="link-box"><a href="#" class="theme-btn">Explore</a></div>
                  </div>
              </div>
              <!--Service Block-->
              <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="300ms">
                  <div class="inner-box">
                      <div class="icon"><span class="flaticon-recycle-sign"></span></div>
                      <h3><a href="#">Recycle Wastage</a></h3>
                      <div class="text">Auis nostrud exercitation ullam laboris aliquip exsed consequat duis aut psum dolore magna aliqua minim.</div>
                      <div class="link-box"><a href="#" class="theme-btn">Explore</a></div>
                  </div>
              </div>
              <!--Service Block-->
              <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms">
                  <div class="inner-box">
                      <div class="icon"><span class="flaticon-forest"></span></div>
                      <h3><a href="#">Saving Forests</a></h3>
                      <div class="text">Auis nostrud exercitation ullam laboris aliquip exsed consequat duis aut psum dolore magna aliqua minim.</div>
                      <div class="link-box"><a href="#" class="theme-btn">Explore</a></div>
                  </div>
              </div>
             
          </div>
           
          
      </div>
      <div  >
<div class="load-more" style="padding-bottom:30px"><a href="{% url 'jobs:what_we_are_doing' %}" class="theme-btn load-more-btn">SEE MORE</a></div>

          </div>






</section>
<section class="call-to-action">
      <div
        class="image-layer"
        style="background-image: url('images/background/bg-pattern-1.png')"
      ></div>

      <div class="auto-container">
        <div class="row clearfix">
          <div class="title-column col-xl-9 col-lg-12 col-md-12 col-sm-12">
            <h2 style="FONT-SIZE:40px">
              Become a vital part of Ashor Iraqi Foundation for Relief and Development & make a real difference to lives
              of many!
            </h2>
          </div>
          <div class="link-column col-xl-3 col-lg-12 col-md-12 col-sm-12">
            <div class="link-box">
              <a href="#" class="theme-btn btn-style-two"
                ><span class="btn-title">join to Volunteer</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
<!--Join events Section-->

    <section class="stories-section" style="padding-top:80px">
      <!--Upper Box-->
      <div class="upper-box">
        <div
          class="icon-one paroller"
          data-paroller-factor="-0.20"
          data-paroller-factor-lg="-0.20"
          data-paroller-factor-sm="-0.10"
          data-paroller-type="foreground"
          data-paroller-direction="horizontal"
        >
        </div>

        <div class="auto-container">
          <div class="row clearfix" >
          <!--Image Column-->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner">
              <figure class="image wow slideInLeft">
                
                <img src="images/resource/event-image-7.jpg" style="width: 550px; height: 438px;" alt="" />
                
              </figure>
              </div>
            </div>
            <!--Left Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner">
                <div class="sec-title" style="padding-top:40px">
                
                  <h2>OUR STORIES</h2>
                </div>
                <div class="text-content">
                  <div class="text">
                    Consectetur adipisicing elit usmod tempor incididut
                    laboret ipsum dolore magna aliquaut enim mini veniam quis
                    trud exercitation ullamco sed labo nisiut aliquip ex ea
                    consequat duis aute rue dolor.
                  </div>
                  <div class="link-box">
                    <a href="{% url 'blogs:story' %}" class="default-link" style="padding-top:20px;">VIEW ALL STORIES</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

     
    </section>
    <div class="padding-style"> </div>
 <section class="stories-section load-more-section" data-load-number="2">
      <div class="auto-container">
        <div class="row clearfix " style="padding-top:80px">
                    <div class=" col-lg-4 col-md-6 col-sm-12">

          <aside class="stories">
            <!-- Event Widget -->
            <div class="stories-widget story-widget">
              <div class="widget-inner">
                <div class="widget-content">
                  <figure class="image">
                    <img
                      src="images/resource/event-image-7.jpg"
                      alt=""
                      title=""
                    />
                  </figure>
                  <div class="lower-box story-details">
                              <div class="info-box clearfix">
                                  <div class="cause-info">
                                      <ul class="clearfix">
                                          <li><span class="far flaticon-calendar"></span> <span>20</span> August 2019</li>
                                          <li><span class="fa fa-map-marker-alt"></span> Tottenham, London N17 6HW</li>
                                      </ul>
                                  </div>
                                 
                                      
                              </div>
                            
                          </div>
                  <h4>
                    <a href=""
                      >Water Supply Charity Fundrise Event</a
                    >
                  </h4>
                  <ul class="info">
                   
                    <li>
                     <div class="link-box" style="padding-left:4px;font-size:12px"><a href="{% url 'blogs:stories_detail' %}" class="default-link"> READ MORE</a></div>
</li>
                   
                  </ul>
                </div>
              </div>
            </div>
          </aside>
          </div>

               
        </div>
      </div>
    </section>
   

{% endblock body %}