{% extends 'base.html' %}
{% block body %}

       <!-- Page Banner Section -->
       <section class="page-banner">
        {% for i in data %}
        <div class="image-layer" style="background-image: url('{{i.image_bg_what_we_are_doing_details}}');
            width:1920px;
            height:350px;"></div>
        {% endfor %}

        <div class="auto-container">
          <h1>{{ WhatWeAreDoing_details_name }}</h1>
        </div>

        <div class="breadcrumb-box">
          <div class="auto-container">
              <ul class="bread-crumb clearfix">
              <li><a href="{% url 'jobs:index' %}">HOME</a></li>
              <li><a href="{% url 'jobs:what_we_are_doing' %}">WHAT WE ARE DOING</a></li>
            </ul>
          </div>
        </div>
      </section>
      <!--End Banner Section -->

    <!--Causes Section-->
    <section class="causes-section alternate-two" style="padding-bottom:40px">
        <div class="auto-container">
         <div class="post-content">
                                      <div class="lower-box story-details">
                                <h2 style="font-size:20px;">{{ WhatWeAreDoing_details_name }}</h2>
                                <div class="info-box clearfix">
                               
                                        
                                </div>
                              
                            </div>
                                 
               
                                    <p>{{WhatWeAreDoing_details_desc1}}</p>
                                    <p>{{WhatWeAreDoing_details_desc2}}</p>
                                    <p>{{WhatWeAreDoing_details_desc3}}</p>
                                    <div class="row clearfix">
                                       
                                    </div>
                                    <p class="big-text">                                    {{WhatWeAreDoing_details_desc4}}</p>
                                
                                   
                                     </div>
                        
            <div class="row clearfix">
            
                <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                        <div class="image-box">
                            <figure class="image"><img src="{{WhatWeAreDoing_details_image1.url}}" alt=""></figure>
                            
                        </div>
                       
                    </div>
                </div>
                   <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                        <div class="image-box">
                            <figure class="image"><img src="{{WhatWeAreDoing_details_image2.url}}" alt=""></figure>
                            
                        </div>
                       
                    </div>
                </div>
                   <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                        <div class="image-box">
                            <figure class="image"><img src="{{WhatWeAreDoing_details_image3.url}}" alt=""></figure>
                            
                        </div>
                       
                    </div>
                </div>
                
                
            </div>
            
            <p>{{WhatWeAreDoing_details_desc5}}</p>

            <p>{{WhatWeAreDoing_details_desc6}}</p>
                                    
  <div class="news-block-three">
                            <div class="inner-box">
                                <div class="text">                                    {{WhatWeAreDoing_details_desc7}}
                                </div>
                            </div>
                        </div>
        
        </div>
    </section>
   

<!-- Insta Gallery Section -->
    <section class="insta-gallery">
        <div class="insta-gallery-carousel kausid-carousel owl-theme owl-carousel" data-options='{"loop": false, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 5000, "smartSpeed": 500, "responsive":{ "0" :{ "items": "1" },"600" :{ "items": "2" }, "768" :{ "items" : "3" }, "1024":{ "items" : "4" }, "1366":{ "items" : "4" }, "1500":{ "items" : "5" }, "1920":{ "items" : "6" }}}'>
            <!-- Gallery Item -->
            {% for i in data %}
            <div class="gallery-item-two">
                <div class="image-box">
                    <figure class="image"><img src="{{i.WhatWeAreDoing_details_image_gallery}}" data-src="images/gallery/8.jpg" alt=""></figure>
                    <div class="overlay-box"><a href="images/gallery/8.jpg" class="lightbox-image" data-fancybox="gallery-two"><span class="icon flaticon-instagram"></span></a></div>
                </div>
            </div>
            <!-- Gallery Item -->
            {% endfor %}
        </div>
    </section>
    <!--End Gallery Section -->
   


{% endblock body %}