{% extends 'base.html' %}
{% block body %}

      <!-- Page Banner Section -->
      <section class="page-banner">
        <div
        class="image-layer"
        style="background-image: url(images/background/bg-page-title-2.jpg)"
      ></div>

        <div class="auto-container">
          <h1>WHAT WE ARE DOING</h1>
        </div>

        <div class="breadcrumb-box">
          <div class="auto-container">
            <ul class="bread-crumb clearfix">
              <li><a href="{% url 'jobs:index' %}">HOME</a></li>
              <li class="active">WHAT WE ARE DOING</li>
            </ul>
          </div>
        </div>
      </section>
      <!--End Banner Section -->
   <!--What We Do-->
    <section class="what-we-do">
        <div class="auto-container">
          <div class="" style="padding-bottom:20px;padding-top:40px;text-align:center">                <h2 >What We Are Doing</h2>
            </div>
              <p style="text-align:center;padding-top:20px;padding-bottom:50px;"> The United Nations is the only voice that speaks for everyone on earth and the only place where all nations come together. Our challenges are so intertwined that we can only solve them together, with smart responses across countries, cultures and peoples. As our world grows more connected and threats more complex, the success of the UN is even more essential. That’s why the United Nations Foundation exists.</p>

           
              <h3  style="color:#426E94;text-align:center; padding-top:70px;  background-color:white;">{{message}}</h3>
            <div class="row clearfix">
              {% for whatWeDo in whatWeDoss %} 
                <!--Service Block-->
                <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms">
                  
                  <div class="inner-box">
                    
                        <div class="icon"><span class='{{ whatWeDo.whatDoDetail_icon_name }}'></span></div>
                       
                        <h3><a href="{% url 'jobs:what_we_are_doing_details' whatWeDo.id %}">{{whatWeDo.whatDoDetail_name}}</a></h3>
                        <div class="text">{{whatWeDo.whatDoDetail_desc1}}</div>
                        <div class="link-box"><a href="{% url 'jobs:what_we_are_doing_details' whatWeDo.id %}" class="theme-btn">Explore</a></div>
                    </div>
                  
                </div>
                {% endfor %}
             
            </div>
        </div>
    </section>



{% endblock body %}