{% extends 'base.html' %}
{% block body %}
   <!-- End Main Header -->
  <!-- Page Banner Section -->
  <section class="page-banner">
    {% for i in data %}
    <div class="image-layer" style="background-image: url('{{i.image_bg_who_we_are}}');
        width:1920px;
        height:350px;"></div>
    {% endfor %}

    <div class="auto-container">
      <h1>WHO WE ARE</h1>
    </div>

    <div class="breadcrumb-box">
      <div class="auto-container">
        <ul class="bread-crumb clearfix">
          <li><a href="{% url 'jobs:index' %}">HOME</a></li>
         <li><a href="{% url 'jobs:about' %}">ABOUT AIFRD</a></li>
          <li class="active">WHO WE ARE</li>
        </ul>
      </div>
    </div>
  </section>
  <!--End Banner Section -->
<!--Causes Section-->
<section class="career-section-two alternate-two" style="padding-bottom:40px;padding-top:40px">
  
    <div class="auto-container">
      <div class="lower-box story-details">
                            <h2 >Who We Are</h2>
                            <div class="info-box clearfix">
                           
                                    
                            </div>
                          
                        </div>
     <div class="row clearfix">
                                
                                </div>
     <div class="post-content">
                               
                                <p>{{ WhoWeAre_desc1 }}
                                </p>
                                <p>{{ WhoWeAre_desc2 }}</p>
                                <p>{{ WhoWeAre_desc3 }}</p>
                                <div class="row clearfix">
                                   
                                </div>
                                <p class="big-text">{{ WhoWeAre_desc4 }}
                                 </div>
                    
        <div class="row clearfix">
        
            <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                    <div class="image-box">
                        <figure class="image"><img src="{{ WhoWeAre_image1.url }}"  alt=""></figure>
                        
                    </div>
                   
                </div>
            </div>
               <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                    <div class="image-box">
                        <figure class="image"><img src="{{ WhoWeAre_image2.url }}"  alt=""></figure>
                        
                    </div>
                   
                </div>
            </div>
               <div class="cause-block alternate col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                    <div class="image-box">
                        <figure class="image"><img src="{{ WhoWeAre_image3.url }}" alt=""></figure>
                        
                    </div>
                   
                </div>
            </div>
            
            
        </div>
        <p>{{ WhoWeAre_desc5 }}</p>
        <p>{{ WhoWeAre_desc6 }}</p>                                
<div class="news-block-three">
                        <div class="inner-box">
                            <div class="text">{{ WhoWeAre_desc7 }}</div>
                        </div>
                    </div>
    
    </div>
</section>
{% endblock body %}